    @import url('https://fonts.googleapis.com/css2?family=Bellota+Text:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&display=swap');
    
    :root{
        --primary-color: rgb(37, 37, 37);
        --bg-dark: blueviolet;
        --bg-medium: rgb(241, 28, 128);
    }

    *{
        font-family: "Bellota Text", sans-serif;
        font-weight: 700;
        font-style: normal;
        color: white;
        text-decoration: none;
    }

    #header{
        position: sticky;
        z-index: 1;
        top: 0;

        width: 100%;
        height: auto;
        background-color: var(--bg-dark);
        text-align: right;
        border-radius: 2%;
    }

    .header_content li{
        display: inline-flex;
        margin: 2%;
    }

    #lox{
        background-color: var(--primary-color);
        text-align: center;
        color: white;
        position: relative;
        z-index: 0;
        left: 15%;
        width: 70%;
    }
    
    /*#mainButton{
        color: white;
        text-shadow: black 2px 2px 2px;
        text-decoration: none;
        border: 2px solid rgb(37, 37, 37);
        border-radius: 15%;
        background-color: rgb(175, 175, 175);
        padding: 10px;
        margin: 20px;
    }*/

      body{
        background-color: var(--bg-medium);
        overflow: auto;
      }

      .container{
        display: grid;
        grid-template-columns: 1fr 2fr;
        grid-template-rows: auto auto 100px;
      }

      .container > #image{
        grid-row: span 2;
      }
      .container > div > img{
        height: 100%;
        width: 100%;
      }

      .container > div{
        margin: 2%;
        /*border: 2px solid red;*/
      }